<main class="container">
  <h3>Welcome to NMS </h3>
  <p>
    NMS Cinemas is a chain of single screen theatres that screen movie shows of different genres and languages at very genuine prices. It was established in 2004 in Pune, India.
  </p>
  <h3>After you Sign-in to this website you can:</h3>
  <ul>
    <li>Search for movie tickets based on the search keyword.</li>
    <li>Apply filters and sort results based on different genres.</li>
    <li>Add all the selected movie tickets to a cart and customize the purchase at the end.</li>
    <li>Experience a seamless payment process.</li>
    <li>Receive a booking summary page once the payment is complete.</li>
  </ul>
</main>

