<a routerLink="/search" type="button" class="btn btn-success">
  <i class="fa-sharp fa-solid fa-store"></i> Continue Shopping
</a>
<ul class="list-group" style="margin-top: 10px;">
  <li *ngFor="let key of myCart.keys()" class="list-group-item" style="background: lightcyan;">
    <div>
      <button class="btn btn-xs" (click)="plusOne(key)">
        <i class="fa-sharp fa-solid fa-plus"></i>
      </button>
      <span class="badge">Qty: {{ getQuantity(key)}}</span>
      <button class="btn btn-xs" (click)="minusOne(key)">
        <i class="fa-sharp fa-solid fa-minus"></i>
      </button>
    </div>
    <div>
      <label style="margin-right: 10px; float: left;">Movie: </label>
      <h4>{{ getMovie(key).name}}</h4>
    </div>
    <div>
      <label style="margin-right: 10px; float: left;">Showtime: </label>
      <h4>{{getShowTime(key).starttime | date:'short'}}</h4>
    </div>
    <div>
      <label style="margin-right: 10px; float: left;">Ticket Price: </label>
      <h4>{{getQuantity(key)}} x {{getShowTime(key).price | currency}}
        = {{getSubTotal(key) | currency}}</h4>
    </div>
  </li>
</ul>
<label class="pull-left">Grand Total: </label><h4>{{getTotalPrice() | currency}}</h4>
<a routerLink="/checkout" type="button" class="btn btn-success pull-left">
  <i class="fa-solid fa-credit-card"></i> Checkout
</a>
