<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLinkActive="active current" class="navbar-brand" routerLink="">
        <i class="fa-solid fa-film"></i> NMS Cinema
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="isLoggedIn" routerLinkActive="active current">
        <a routerLink="/search"><i class="fa-sharp fa-solid fa-store"></i> Shop</a>
      </li>
      <li *ngIf="isLoggedIn" routerLinkActive="active current">
        <a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn" routerLinkActive="active current">
        <a (click)="loginService.logout()" routerLink="/logout">
          Hello: {{userInfo['full_name']}} <i class="fa-solid fa-person-through-window"></i>
          Logout
        </a>
      </li>
      <li *ngIf="!isLoggedIn" routerLinkActive="active current">
        <a routerLink="/signup"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
      </li>
      <li *ngIf="!isLoggedIn" routerLinkActive="active current">
        <a routerLink="/login"><i class="fa-solid fa-door-open"></i> Login</a>
      </li>
    </ul>
  </div>
</nav>
